body {
    margin: 0px;
    padding: 0px;
    background-color: black;
}
.raceArea {
    position: relative;
    margin: 0px;
    padding: 0px;
}

#racer1 {
    padding-left: 80px;
    position: absolute;
    bottom: 75px;
}

#racer2 {
    padding-left: 80px;
    position: absolute;
    bottom: 50px;
}

#racer3 {
    padding-left: 80px;
    position: absolute;
    bottom: 25px;
}

#background {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    max-height: 100vh;
    height: auto;
}

#stoplight {
    position: absolute;
    top: 5px;
    padding-left: 80px;
}

#stoplight2 {
    position: absolute;
    top: 5px;
    right: 80px;
}